.nav {
    background-color: #749ea8;
}

.mypic {
    margin-bottom: 17em;
}

.metext {
    text-shadow: 1px 4px 3px grey;
}

.intropic {
    background: linear-gradient(#fff, #749ea8, #fff);
    color: #656566;
}

img {
    height: 180px;
}

img.repos {
    box-shadow: 3px 4px 5px #8f9091;
}

.dividers {
    max-width: 80%;
}

.skills {
    width: 90%;
}

.contactLabel {
    max-width: 50%;
    font-size: small;
    margin-left: 2em;
    margin-top: .5em;
}

.contactInput {
    max-width: 50%;
    font-size: small;
    margin-left: 2em;
}

.contactText {
    text-shadow: 1px 2px 2px rgb(139, 139, 139);
}

.footer {
    height: 2em;
    background-color: #749ea8;
}

.footertext {
    font-size: xx-small;
    text-decoration: none;
}

.back {
    text-decoration: none;
    color: black;
    border: 1px double #4a4e4f;
    border-radius: 5px;
    padding: 2px;
}

.back:hover {
    cursor: pointer;
    color: black;
}
