.nav {
    background-color: #749ea8;
}

.mypic {
    margin-bottom: 17em;
}

.metext {
    text-shadow: 1px 4px 3px grey;
}

.intropic {
    background: linear-gradient(#fff, #749ea8, #fff);
    color: #656566;
}

img {
    height: 180px;
}

img.repos {
    box-shadow: 3px 4px 5px #8f9091;
}

.dividers {
    max-width: 80%;
}

.accordion-button {
    background-color: #aacbd3;
}


/* .dropdownbtn {} */

.contactLabel {
    max-width: 50%;
    font-size: small;
    margin-left: 2em;
    margin-top: .5em;
}

.contactInput {
    max-width: 50%;
    font-size: small;
    margin-left: 2em;
}

.contactText {
    text-shadow: 1px 2px 2px rgb(139, 139, 139);
}

.contacticons {
    margin-right: .5em;
    max-width: 40px;
    max-height: 40px;
}

.icons {
    max-width: 40px;
    max-height: 40px;
}

.back {
    text-decoration: none;
    color: #749ea8;
    border: 3px double #4a4e4f;
    border-radius: 40%;
    padding: 3px;
}

.back:hover {
    cursor: pointer;
    color: black;
}
