.nav {
    background-color: #88898a;
}

.metext {
    text-shadow: 1px 4px 3px grey;
}

.intropic {
    background: linear-gradient(#fff, #b8b8b8, #fff);
    color: #656566;
}

.footer {
    font-size: x-small;
}

img {
    height: 180px;
}
